<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body id="{% block bodyid %}{% endblock %}">
        <div class="mainbox">
            <div class="header">
                <div class="logobox">
                    <img src="{{ url_for('static', filename='img/login/login_logo.png') }}">
                </div>
                <h1>오늘 패션 어때</h1>
            </div>
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>