<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
        <title>main</title>
        
    </head>
    <body onload="imgChange()"><!-- 페이지 로드하면 배경 이미지 변경 함수 실행 -->
        <a href="{{ url_for('auth.login')}}">
            <div class="main_imgbox">
                <img src="{{ url_for('static', filename='img/main/main_1.jpg') }}" id="main_bg">
                <div class="main_blackbox"></div>
                <div id="main_logo">오늘 패션 어때</div>
                <div id="main_touch">화면을 클릭해주세요.</div>
            </div>
        </a>
        
        <script>
            function imgChange(){
                var imgNum = Math.floor(Math.random()*(7-1))+1;
                var imgsrc = "/static/img/main/main_" + String(imgNum) + ".jpg";
                var img = document.getElementById("main_bg");
                img.src = imgsrc;
                setTimeout(imgChange, 4000);
            }
        </script>
    </body>
</html>
