<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
        <title>main</title>
        
    </head>
    <body><!-- 페이지 로드하면 배경 이미지 변경 함수 실행 -->
        <a href="{{ url_for('auth.login')}}">
            <div class="main_imgbox">
                <img src="{{ url_for('static', filename='img/main/main_1.jpg') }}" id="main_bg">
                <div class="main_blackbox"></div>
                <div id="main_logo">오늘 패션 어때</div>
                <div id="main_touch">화면을 클릭해주세요.</div>
            </div>
        </a>
        
        <script>
            var imgNum = Math.floor(Math.random()*(7-1));
            var imgUrl1 = "url_for('static', filename='img/main/main_";
            var imgUrl2 = ".jpg')";
            var imgUrl = "{" + "{" + imgUrl1 + String(imgNum) + imgUrl2 + "}" + "}";
            console.log(imgUrl);
            function imgChange(){ //배경 이미지 변경 메소드
               const introImg = document.getElementById("main_bg");
               introImg.setAttribute('src', imgUrl );
               setTimeout(imgChange(), 4000); //시간 설정
           }
                
        </script>
    </body>
</html>
