<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    <head>
        {% block title %}로그인{% endblock %}
    </head>
    <body>
        {% block content %}
        <form method="POST" action="/login">
            <div class="login_box box1">
		        <img src="{{ url_for('static', filename='img/login/login_user.png') }}" width="25px" height="25px">
                {{form.user_id(class="login_form", placeholder="아이디")}}
            </div>
            <div class="login_box box2">
                <img src="{{ url_for('static', filename='img/login/login_padlock.png') }}" width="25px" height="25px">
                {{form.password(class="login_form", placeholder="비밀번호")}}
            </div>
	        <a href="{{ url_for('select.selection')}}">
                <button type="button" class="login_btn btn1">
                    로 그 인
                </button>
            </a>
            <div class="login_or">or</div>
	        <a href="{{ url_for('auth.signup')}}">
                <button type="button" class="login_btn btn2">
                    회 원 가 입
                </button>
            </a>
        </form>
        {% endblock %}
	</body>
</html>
