<!-- 로그인 페이지 / base.html 상속 -->
<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    <head>
        {% block title %}로그인{% endblock %}
    </head>
    {% block bodyid %}login_body{% endblock %}
        {% block mainbox %}mainbox{% endblock %}
        {% block content %}
        <form method="post">
        <!-- 폼 데이터를 HTTP POST 방식으로 서버에 전송 -->
		{{ form.csrf_token }}
        <!-- csrf 토큰으로 사용자 폼 위조 방지, 실제 웹브라우저에서 작성한 데이터인지 판단 -->
            <div class="login_box box1">
		        <img src="{{ url_for('static', filename='img/login/login_user.png') }}">
                {{form.user_id(class="login_form", placeholder="아이디")}}
            </div>
            <div class="login_box box2">
                <img src="{{ url_for('static', filename='img/login/login_padlock.png') }}">
                {{form.password(class="login_form", placeholder="비밀번호")}}
            </div>
            <div class="login_error">
                {% if form.user_id.errors %}
                <!-- 사용자가 폼에 입력한 아이디가 db에 존재하지 않을 경우 -->
                    {{form.user_id.errors.0}}
                    <!-- '존재하지 않는 사용자입니다' 에러 메세지 출력 -->
                {% endif %}
                {% if form.password.errors %}
                <!-- 사용자가 폼에 입력한 비밀번호가 틀렸을 경우 -->
                    {{form.password.errors.0}}
                    <!-- '비밀번호가 올바르지 않습니다' 에러 메세지 출력 -->
                {% endif %}
            </div>
            <a href="{{ url_for('select.selection') }}">
            <!-- 로그인 성공 시 selection.html로 이동 -->
                <button type="button" class="login_btn btn1">
                    로 그 인
                </button>
            </a>
            <div class="login_or">or</div>
	        <a href="{{ url_for('auth.signup')}}">
            <!-- 회원가입 페이지로 이동 -->
                <button type="button" class="login_btn btn2">
                    회 원 가 입
                </button>
            </a>
        </form>
        {% endblock %}
	</body>
</html>
