<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/location2.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}"/>
    <title>signup</title>
</head>
<body id="signup_body">
<form class="signup_form" action="" method="post">
    {{ form.csrf_token }}
    {% for field, errors in form.errors.items() %}
    <div role="alert">
        <strong>{{ form[field].label }}</strong>: {{','.join(errors) }}
    </div>
    {% endfor %}
    <h1 class="signup_title">회원가입</h1>

    <!-- id : lable의 for랑 연결된 부분 / name은 다른 파일로 넘겨줄 파라미터 명 -->
    <div class="signup_id">
        <label class="signup_label" for="user_id"> {{ form.user_id.label }} </label>
        <input class="signup_inputBox" type="text" id="user_id" name="user_id" value="{{ form.user_id.data or '' }}"  size="20" required>
    </div>
    <div class="signup_pw">
        <label class="signup_label" for="password1"> {{ form.password1.label }} </label>
        <input class="signup_inputBox" type="password" id="password1" name="password1" value="{{ form.password1.data or '' }}" size="20" required>
    </div>
    <div class="signup_checkPw">
        <label class="signup_label" for="password2">비밀번호 확인</label>
        <input class="signup_inputBox" type="password" id="password2" name="password2" value="{{ form.password2.data or '' }}" size="20" required>
    </div>
    <div class = "signup_username">
        <h2 class = "signup_h2">이름</h2>
	<input class = "signup_inputBox" type = "text" id = "name" name = "name" value="{{ form.name.data or ''}}"  value size = "20" required>
    </div>
    <div class = "signup_address">
        <h2 class = "signup_h2">주소</h2>
	<input class = "signup_inputBox" type = "text" id = "address" name = "address" value="{{ form.address.data or ''}}" value size = "50" required>
    </div>
    <div class = "signup_address_spc">
        <h2 class = "signup_h2">상세주소</h2>
	<input class = "signup_inputBox" type = "text" id = "detail_address" name = "detail_address" value="{{ form.detail_address.data or ''}}"  value size = "50" required>
    </div>
    <button class="signup_btn" type="submit">가입하기</button>
</form>

</body>
</html>
