@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
*{
    font-family: 'Noto Sans KR';
}
/* location */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.result_frame{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.result_title::after{
    content:"";
    position: absolute;
    top:55px;
    left:-13px;
    background-color: white;
    width:517px;
    height:310px;
    border: 5px solid #9dc8ff;
    border-radius: 10px;
}
#result_body h1{
    position: absolute;
    top: 18px;
    left: 25px;
}
#result_slideShow{
    position: relative;
    top: 35px;
    left: 65px;
}
.result_text{
    position: absolute;
    bottom: 37px;
    left: 100px;
    text-align: left;
}
/* style */
#result_body{
    width: 100%;
    height: 100%;
    background-color: #5680EB;
}
.result_frame{
    width: 550px;
    height: 600px;
    padding: 30px, 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
}
#result_body h1{
    display: inline-block;
    width: 320px;
    height: 100px;
    text-align: left;
    font-size: 20pt;
    font-weight: 700;
}
.result_frame::before{
    position: absolute;
    top: 12px;
    left: 130px;
    content:"🎉";
    font-size: 23pt;
    font-weight: 100;
    margin-left: 3px;
}
.result_slideShow li{
    list-style-type: none;
}
#result_slideShow{
    width: 460px;
    height: 600px;
    overflow: hidden;
}
#result_slideShow img {
    display: inline-block;
    width: 230px;
    height: 260px;
    margin:5px;
}
.result_slides{
    position: absolute;
    left:-20px;
    top:60px;
    width: 2500px; /*슬라이드할 사진과 마진 총 넓이*/
    transition: left 0.5s ease-out;
}
.result_slide li:not(:last-child){
    float:left;
    margin-right:100px;
}
.result_slides li{
    float:left;
}
.result_slides p{
    margin: 8px;
    font-weight: 600;
}
.result_outer{
    margin: 0px 0px 0px 75px;
    list-style-type: none;
}
.result_controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 200px;
    font-size: 1.3em;
    cursor: pointer;
}
.result_controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
}
.result_prev{
    left: 5px;
}
.result_prev:hover{
    transform: translateX(-2px);
}
.result_next{
    right: 5px;
}
.result_next:hover{
    transform: translate(2px);
}
.result_text p{
    display: inline-block;
    height: 20px;
    margin-left: 10px;
}
.result_text a{
    display: inline-block;
    height: 30px;
    text-decoration: none;
}
.result_shop{
    display: inline-block;
    width: 75px;
    height: 35px;
    margin-left: 20px;
    background: linear-gradient(125deg,#cedbf1,#85b4fa,#a7cdff);
    background-position: left;
    background-size: 200%;
    color:rgb(39, 39, 39);
    text-decoration-line: none;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}

