@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
*{
    font-family: 'Noto Sans KR';
}
/* main */
section{
    display: block;
    color:#ffffff;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}
.main_bg{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
#main_logo{
    color: white;
    font-weight: bolder;
    font-size:45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#main_touch{
    color: #EAEAEA;
    text-decoration-line: underline;
}
/* login */
#login_body {
    width: 100%;
    height: 100%;
    background-color: #5680EB;
}
.login_form {
    width: 400px;
    height: 500px;
    padding: 30px, 20px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 15px;
}
.login_form a{
    color:white;
    text-decoration-line: none;
    font-weight: bold;
}
.login_logobox{
    width: 70px;
    height: 70px;
    border-radius: 30%;
    overflow: hidden;
    text-align: center;
}
.login_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}
.login_form h1{
    height: 50px;
    text-align: center;
}
.login_idForm{
    width: 400px;
    height: 50px;
}
.login_id {
    width: 65%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    padding: 10px;
    background: none;
    border: 2px solid #adadad;
}
.login_passForm{
    width: 400px;
    height: 50px;
}
.login_pw {
    width: 65%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    padding: 10px;
    background: none;
    border: 2px solid #adadad;
}
.login_passForm p {
    width: 80%;
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.login_btn1 {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    text-decoration-line: none;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.login_btn1:hover {
    background-position: right;
}
#login_or{
    height: 16px;
    color: #535353;
    font-size: 16px;
}
.login_or{
    width: 350px;
    height: 16px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #535353;
    font-size: 16px;
    margin: 8px 0px;
}
.login_or::before{
    content:"";
    flex-grow: 1;
    margin: 0px 16px;
    background: #535353;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.login_or::after{
    content:"";
    flex-grow: 1;
    margin: 0px 16px;
    background: #535353;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.login_btn2 {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#5445ca,#81e7e7,#da8bf1);
    background-position: left;
    background-size: 200%;
    color:white;
    text-decoration-line: none;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.login_btn2:hover {
    background-position: right;
}
/* sel */
#sel_body{
    width: 100%;
    height: 100%;
    background-color: #FFEC9A;
}
.sel_catebox{
    width: 130px;
    height: 130px;
    border-radius: 10%;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border: 4px double #38A9CB;
}
.sel_catebox:hover{
    transform: scale(1.1);
}
.sel_catename{
    width: 120px;
    height: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding: 5px;
    border-bottom:1px solid #9C57EA;
}
.sel_cateinfo{
    width: 130px;
    height: 20px;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(83, 83, 83);
    text-align: center;
}
.sel_img{
    width: 50px;
    height: 50px;
    border-radius: 10%;
}
/* tempLoc */
