<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color.css') }}"/>
    <title>color</title>
</head>
<body id="color_body">
    <form class="color_form" name="color" action="" method="post">
	    {{ form.csrf_token }}
        <h1 class="color_title">원하는 컬러를 선택해주세요</h1>
	<img src="{{ url_for('static', filename='img/color/clothes.png') }}" class="color_imgTop">
        <div class="color_frameFemale">
            <div class="color_colorBox">
		    <img id="white" alt="white" src="{{ url_for('static', filename='img/color/white.jpg') }}">
                <label for="white">흰색</label>
            </div>
            <div class="color_colorBox">
		    <img id="beige" alt="beige" src="{{ url_for('static', filename='img/color/beige.jpg') }}">
                <label for="beige">베이지</label>
            </div>
            <div class="color_colorBox">
		    <img id="grey" alt="grey" src="{{ url_for('static', filename='img/color/grey.jpg') }}">
                <label for="grey">회색</label>
            </div>
            <br>
            <br>
            <div class="color_colorBox">
		    <img id="green" alt="green" src="{{ url_for('static', filename='img/color/green.jpg') }}">
                <label for="green">초록</label>
            </div>
            <div class="color_colorBox">
		    <img id="blue" alt="blue" src="{{ url_for('static', filename='img/color/blue.jpg') }}">
                <label for="blue">파랑</label>
            </div>
            <div class="color_colorBox">
		    <img id="navy" alt="navy" src="{{ url_for('static', filename='img/color/navy.jpg') }}">
                <label for="navy">남색</label>
            </div>
            <div class="color_colorBox">
		    <img id="black" alt="black" src="{{ url_for('static', filename='img/color/black.jpg') }}">
                <label for="black">검정</label>
            </div>
            <br>
            <br>
            <div class="color_selectColor">
                <label for="selectColor"></label>
		<select id="selectColor" name="color" value="{{ form.color.data or ''}}">
                    <option value="">----------선택----------</option>
                    <option value="하양">흰색</option>
                    <option value="베이지">베이지</option>
                    <option value="회색">회색</option>
                    <option value="초록">초록</option>
                    <option value="파랑">파랑</option>
                    <option value="남색">남색</option>
                    <option value="검정">검정</option>
                </select>
            </div>
        </div>        
        
        <input class="color_btn" type="submit" value="색상 선택">
    </form>
</body>
</html>
