<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/color.css"/>
    <title>color</title>
</head>
<body id="color_body">
    <form class="color_form" name="color" action="" method="POST">
        <h1 class="color_title">원하는 컬러를 선택해주세요</h1>
        <img src="img/color/clothes.png" class="color_imgTop">
        <div class="color_frameMale">
            <div class="color_colorBox">
                <input class="color_colors" type="image" id="beige" alt="beige" src="img/color/beige.jpg">
                <label for="beige">베이지</label>
            </div>
            <div class="color_colorBox">
                <input class="color_colors" type="image" id="grey" alt="grey" src="img/color/grey.jpg">
                <label for="grey">회색</label>
            </div>
            <div class="color_colorBox">
                <input class="color_colors" type="image" id="brown" alt="brown" src="img/color/brown.jpg">
                <label for="brown">갈색</label>
            </div>
            <br>
            <br>
            <div class="color_colorBox">
                <input class="color_colors" type="image" id="blue" alt="blue" src="img/color/blue.jpg">
                <label for="blue">파랑</label>
            </div>
            <div class="color_colorBox">
                <input class="color_colors" type="image" id="navy" alt="navy" src="img/color/navy.jpg">
                <label for="navy">남색</label>
            </div>
            <div class="color_colorBox">
                <input class="color_colors" type="image" id="black" alt="black" src="img/color/black.jpg">
                <label for="black">검정</label>
            </div>
        </div>        
        
        <input class="color_btn" type="submit" value="색상 선택">
    </form>
</body>
</html>