<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    <head>
        {% block title %}카테고리 선택{% endblock %}
    </head>
    {% block bodyid %}sel_body{% endblock %}
        {% block content %}
            <h2 id="sel_head">카테고리 선택</h2>
            <a href="{{ url_for('select.date') }}">
                <div class="sel_catebox" id="sel_tempbox">
                    <div class="sel_catename">기온에 따라</div>
                    <div class="sel_cateinfo">선택한 날짜의 기온에<br>맞는 코디 추천</div>
		            <img src="{{ url_for('static', filename= 'img/sel/sel_temp.png') }}" class="sel_img">
                </div>
            </a>
            <a href="{{ url_for('select.color') }}">
                <div class="sel_catebox" id="sel_colbox">
                    <div class="sel_catename">색조합에 따라</div>
                    <div class="sel_cateinfo">선택한 상,하의 색에<br>맞는 코디 추천</div>
                    <img src="{{ url_for('static', filename= 'img/sel/sel_color.png') }}" class="sel_img">
                </div>
            </a>
        {% endblock %}
      </body>
</html>
