<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/location2.css"/>
    <link rel="stylesheet" type="text/css" href="css/style2.css"/>
    <title>SelectColor</title>
</head>
<body id="selectColor_body">
    <form class="selectColor_form" name="color" action="" method="POST">
        <h1 class="selectColor_title">상의 및 하의 색상 선택</h1>
        <img src="img/selectColor/top.png" class="selectColor_imgTop">
        <div class="selectColor_color1">
            <label for="colorTop">상의</label>
            <select id="colorTop" name="color1">
                <option value="">----------선택----------</option>
                <option value="red">빨강 🟥</option>
                <option value="orange">주황 🟧</option>
                <option value="yellow">노랑 🟨</option>
                <option value="green">초록 🟩</option>
                <option value="blue">파랑 🟦</option>
                <option value="violet">보라 🟪</option>
                <option value="brown">갈색 🟫</option>
                <option value="grey">흰색 ⬜</option>
                <option value="black">검정 ⬛</option>
            </select>
        </div>

        <img src="img/selectColor/bottom.png" class="selectColor_imgBottom">
        <div class="selectColor_color2">
            <label for="colorBottom">하의</label>
            <select id="colorBottom" name="color2">
                <option value="">----------선택----------</option>
                <option value="red">빨강 🟥</option>
                <option value="orange">주황 🟧</option>
                <option value="yellow">노랑 🟨</option>
                <option value="green">초록 🟩</option>
                <option value="blue">파랑 🟦</option>
                <option value="violet">보라 🟪</option>
                <option value="brown">갈색 🟫</option>
                <option value="grey">흰색 ⬜</option>
                <option value="black">검정 ⬛</option>
            </select>
        </div>
        
        <input class="selectColor_btn" type="submit" value="색상 선택">
    </form>
</body>
</html>