<!-- 외출 날짜 선택 페이지 / base.html 상속X -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tempCal.css') }}"/>
    <title>tempCalendar</title>
</head>
<body>
    <div class="tempCal_calendar">
        <h1>외출 날짜를 선택해주세요</h1>
        <div class="tempCal_header">
            <div class="tempCal_nav"> <!-- 달력 nav div -->
                <button class="tempCal_navbtn prevbtn" onclick="prevMonth()">&lt;</button> <!-- 이전 달로 이동 버튼 -->
                <button class="tempCal_navbtn todaybtn" onclick="goToday()">이번달</button> <!-- 이번달로 이동 버튼 -->
                <button class="tempCal_navbtn nextbtn" onclick="nextMonth()">&gt;</button> <!-- 이후 달로 이동 버튼 -->
            </div>
            <div class="tempCal_yearmonth"></div> <!-- js에서 현재 연도와 달 입력할 div -->
	    <a href="{{ url_for('select.location') }}"> <!-- 장소선택 페이지로 이동 -->
                <button class="tempCal_next">장소선택</button>
            </a>
        </div>
        <div class="tempCal_main"> <!-- 달력 메인파트 -->
            <div class="tempCal_days">
                <div class="tempCal_day">일</div>
                <div class="tempCal_day">월</div>
                <div class="tempCal_day">화</div>
                <div class="tempCal_day">수</div>
                <div class="tempCal_day">목</div>
                <div class="tempCal_day">금</div>
                <div class="tempCal_day">토</div>
            </div>
            <div class="tempCal_dates"></div> <!-- js에서 현재 연도,달에 해당하는 날짜 정보 입력할 div -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/tempCal.js') }}"></script>
</body>
</html>
