<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tempLoc.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/location.css') }}"/>
    <title>tempLoc</title>
</head>
<body id="tempLoc_body">
    <div class="tempLoc_map">
        <div class="tempLoc_header">
            <h1>외출 장소를 선택해주세요</h1><br>
            <div class="tempLoc_ment">선택한 장소: </div>
            <select class="tempLoc_sel" onchange="change(this.value)">
                <option value="1" selected>서울</option>
                <option value="2">인천</option>
                <option value="3">경기</option>
                <option value="4">강원</option>
                <option value="5">대전</option>
                <option value="6">충남</option>
                <option value="7">충북</option>
                <option value="8">대구</option>
                <option value="9">경북</option>
                <option value="10">전북</option>
                <option value="11">광주</option>
                <option value="12">전남</option>
                <option value="13">울산</option>
                <option value="14">부산</option>
                <option value="15">경남</option>
                <option value="16">제주</option>
            </select>
	    <a href="{{ url_for('result.result')}}">
	    	<button type="button">다음으로</button>
	</a>
        </div>
        <div class="tempLoc_main">
            <div class="tempLoc_places">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_1.png') }}" id="tempLoc_img1">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_2.png') }}" id="tempLoc_img2">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_3.png') }}" id="tempLoc_img3">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_4.png') }}" id="tempLoc_img4">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_5.png') }}" id="tempLoc_img5">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_6.png') }}" id="tempLoc_img6">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_7.png') }}" id="tempLoc_img7">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_8.png') }}" id="tempLoc_img8">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_9.png') }}" id="tempLoc_img9">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_10.png') }}" id="tempLoc_img10">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_11.png') }}" id="tempLoc_img11" >
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_12.png') }}" id="tempLoc_img12">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_13.png') }}" id="tempLoc_img13">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_14.png') }}" id="tempLoc_img14">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_15.png') }}" id="tempLoc_img15">
		    <img src="{{ url_for('static', filename='img/tempLoc/tempLoc_16.png') }}" id="tempLoc_img16">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/tempLoc.js') }}"></script>
</body>
</html>
